.headerTop {
  background: #0048ff;
  color: white;
  width: 100%;
}

.logo {
   width: 40px;  /* điều chỉnh theo ý muốn */
  height: auto; /* giữ tỉ lệ ảnh */
  object-fit: contain; /* đảm bảo ảnh không bị méo */
}

/* Search box */
.searchBox input {
  width: 260px;
}

/* Right Menu */
.rightMenu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.rightMenu span {
  font-size: 14px;
  color: #fff;
}

.cartIcon {
  color: black;
  position: relative;
  text-decoration: none;
}

.cartIcon:hover {
  color: #007bff;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0px 2px;
  font-size: 12px;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .searchBox {
    width: 100%;
    margin-top: 10px;
  }

  .searchBox input {
    width: 100% !important;
  }

  .rightMenu {
    margin-top: 10px;
    flex-direction: column;
    gap: 6px;
  }
}
