.container {
  padding: 20px;
margin-left: var(--sidebar-width);
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.filterBox {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterBox input,
.filterBox select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btnPrimary {
  background: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 sản phẩm mỗi hàng */
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  background: #fff;
  text-align: center;
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.name {
  margin: 8px 0;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
}

.price {
  color: #e60000;
  font-weight: bold;
}

.stock {
  margin: 5px 0 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.btnEdit {
  background: #ffc107;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btnDelete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btnDetail {
  background: #17a2b8;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.pagination button {
  padding: 6px 10px;
}
.actionFilterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}

.filterBox {
  display: flex;
  gap: 10px;
}

.filterBox input,
.filterBox select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}



