.container {
  margin-left: var(--sidebar-width);
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.textBtnForm{
    display: flex;
    gap: 10px;
}

.input,
.textarea {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.edit {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit:hover {
  background-color: #1976d2;
}

.delete {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #d32f2f;
}
